<!--Text Input Subject-->
<div class="row justify-content-start">
  <div class="col-6">
    <div class="form-group">
      <label for="subject">Subject:</label>
      <input class="form-control <%=subjectClass%>" type="text" name="subject" id="subject" placeholder="Note Subject" value="<%=note.subject %>">
    </div>
  </div>
</div>

<!--Textarea Input Body-->
<div class="row justify-content-start">
  <div class="col-6">
    <div class="form-group">
      <label for="subject">Body:</label>
      <textarea class="form-control <%=bodyClass%>" type="textarea" name="body" id="body" placeholder="Note Body" value="<%=note.body %>" rows="8"></textarea>
    </div>
  </div>
</div>